<div class="container">
  <h1 class="title is-1">Create a new series</h1>
  <div class="columns">
    <div class="column is-half is-12-mobile">
      <form method="POST" action="/seriess">
        <div class="field">
          <label class="label">Series Name</label>
          <div class="control">
            <input class="input" name="seriesName" type="text" placeholder="Series Name" required>
          </div>
        </div>
        <div class="field">
          <label class="label">Image</label>
          <div class="control">
            <input class="input" name="image" type="text" placeholder="Image" required>
          </div>
        </div>
        <div class="control">
          <button class="button is-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
