<div class="container">
  <h1 class="title is-1">Create a new episode</h1>
  <div class="columns">
    <div class="column is-half">
      <form method="POST" action="/episodes">

        <div class="field">
          <label class="label">Episode Title</label>
          <div class="control">
            <input class="input" name="title" type="text" placeholder="Episode title" required>
          </div>
        </div>

        <div class="field">
          <label class="label">Series</label>
          <div class="control">
            <div class="select">
              <select name="series">
                <option disabled selected>Choose a series</option>
                <% seriess.forEach(series => { %>
                  <option value="<%= series.id %>"><%= series.seriesName %></option>
                <% }) %>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Synopsis</label>
          <div class="control">
            <input class="input" name="synopsis" type="text" placeholder="Synopsis">
          </div>
        </div>

        <div class="field">
          <label class="label">Image</label>
          <div class="control">
            <input class="input" name="image" type="text" placeholder="Image">
          </div>
        </div>

        <div class="control">
          <button class="button is-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
