@import "bulma/sass/utilities/initial-variables";

$primary: yellowgreen;
$info: dodgerblue;
$danger: firebrick;
// $family-serif: 'Playfair Display', serif;
// $family-primary: $family-serif;

@import "bulma/bulma";

.enterprise {
  background-image: url('/assets/images/enterprise.jpg');
  background-position: center;
  background-size: cover;
  min-height: 568px;
}
.enterprise h1.title.is-1 {
  color: white;
}

.enterprise p.subtitle.is-3 {
  color: white;
}
